extends layout.pug

block content 
  div(class="container pt-10")

    if error
      <div class="alert alert-warning d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        div=JSON.stringify(error)
      </div>

    section.topic
      p Welcome #{id ? id.first_name : "[IDENTITY FAILURE]"}

    section(class="nes-container with-title")
      h3.title backup progress
      progress(value="90" max="100").nes-progress

    //- sections collapse?
    br

    section
        h3.title Actions
        button.nes-btn.is-primary.is-disabled(type="submit" disabled) Backup Data
        button.nes-btn.is-primary(type="button") Backup Metadata

    section
        h3.title Folder 
        if connectionId != prefix
          a(href="../") back
          | &nbsp;
        b #{prefix}
        
        
        for f in folders
          section(class="topic")

        form
          input(name="search" placeholder="search term")
          button search

        table(class="table")
          thead
            tr
              th(scope="col") #
              th(scope="col") folder
              th(scope="col") action
              
          tbody
            each f, index in folders
              tr
                th(scope="row")=index
                td=f
                td
                  if f.endsWith('/')
                    a(href="/dashboard/" + f) open
                  else
                    a(href="/dashboard/" + f + "?download=1") download

            
          


